{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags-->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="au theme template">
    <meta name="author" content="Hau Nguyen">
    <meta name="keywords" content="au theme template">

    <!-- Title Page-->
    <title>Dashboard</title>

    <!-- Fontfaces CSS-->
    <link href="{% static 'assets/css/font-face.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/font-awesome-4.7/css/font-awesome.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/font-awesome-5/css/fontawesome-all.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/mdi-font/css/material-design-iconic-font.min.css' %}" rel="stylesheet" media="all">

    <!-- Bootstrap CSS-->
    <link href="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.css' %}" rel="stylesheet" media="all">

    <!-- Vendor CSS-->
    <link href="{% static 'assets/vendor/animsition/animsition.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/wow/animate.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/css-hamburgers/hamburgers.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/slick/slick.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/select2/select2.min.css' %}" rel="stylesheet" media="all">
    <link href="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.css' %}" rel="stylesheet" media="all">

    <!-- Main CSS-->
    <link href="{% static 'assets/css/theme.css' %}" rel="stylesheet" media="all">

</head>

<body class="animsition">
    <div class="page-wrapper">
        
        <!-- HEADER MOBILE-->
            {% include 'layouts/mobile_header.html' %}
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
            {% include 'layouts/sidebar.html' %}
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            {% include 'layouts/desktop_header.html' %}
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <a href="/books/listing" style="float: right" class="btn btn-danger"> Back</a>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                {% if data.id is None %}
                                    <div class="card-header">
                                        <strong>Add </strong>
                                        <small> Book Details</small>
                                    </div>
                                {% else %}
                                    <div class="card-header">
                                        <strong>Edit </strong>
                                        <small> Student Details</small>
                                    </div>
                                {% endif %}
                                <form action="/books/add_model/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" value="{{data.id}}" name="hdid">
                                    <div class="card-body card-block">
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Book Name</label>
                                            <input type="text" id="name" name="name" placeholder="Name" class="form-control" value="{{data.name}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Book Author</label>
                                            <input type="text" id="name" name="author" placeholder="Email" class="form-control" value="{{data.email}}" required> 
                                        </div>
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Book Price</label>
                                            <input type="number" id="name" name="price" placeholder="Name" class="form-control" value="{{data.name}}" required>
                                        </div>
                                        <div class="form-group">
                                            <label for="company" class=" form-control-label">Book Image</label>
                                            <input type="file" id="name" name="img" placeholder="Name" class="form-control" value="{{data.name}}" required>
                                        </div>

                                        {% if data.id is None %}
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" value="Save">
                                        </div>
                                        {% else %}
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" name="btnEdit" value="Save Changes">
                                        </div>
                                        {% endif %}



                                    </div>
                                </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>


    </div>

    <!-- Jquery JS-->
    <script src="{% static 'assets/vendor/jquery-3.2.1.min.js' %}"></script>
    <!-- Bootstrap JS-->
    <script src="{% static 'assets/vendor/bootstrap-4.1/popper.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-4.1/bootstrap.min.js' %}"></script>
    <!-- Vendor JS       -->
    <script src="{% static 'assets/vendor/slick/slick.min.js' %}">
    </script>
    <script src="{% static 'assets/vendor/wow/wow.min.js' %}"></script>
    <script src="{% static 'assets/vendor/animsition/animsition.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js' %}">
    </script>
    <script src="{% static 'assets/vendor/counter-up/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'assets/vendor/counter-up/jquery.counterup.min.js' %}">
    </script>
    <script src="{% static 'assets/vendor/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'assets/vendor/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/chartjs/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'assets/vendor/select2/select2.min.js' %}">
    </script>

    <!-- Main JS-->
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>
<!-- end document-->
